$primary:   #8D8471 !default;
$secondary: #FBEEC1 !default;
$babyblue:  #659DBD !default;
$sand-100:  #DAAD86 !default;
$sand-200:  #BC986A !default;

// 灰度
$white:    #ffffff !default;
$grey-100: #f8f9fa !default;
$grey-200: #e9ecef !default;
$grey-300: #dee2e6 !default;
$grey-400: #ced4da !default;
$grey-500: #adb5bd !default;
$grey-600: #6c757d !default;
$grey-700: #495057 !default;
$grey-800: #343a40 !default;
$grey-900: #212529 !default;
$black:    #000000 !default;

$pink: rgb(236, 118, 8) !default;


